/* src/App.css */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
  
  button {
    margin: 10px;
  }

  .item{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
  }
  